.guess-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

[class^=dot] {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  width: 50px;
  height: 150px;

  position: relative;
}

[class^=dot]::after {
  content: "";
  position: absolute;

  height: 40px;
  width: 40px;
  border-radius: 50%;

  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

.dot-0::after { background-color: red; }
.dot-1::after { background-color: darkorange; }
.dot-2::after { background-color: gold; }
.dot-3::after { background-color: green; }
.dot-4::after { background-color: blue; }
.dot-5::after { background-color: cyan; }


button.guess {
  width: 100%;
  margin: 10px 0;
}


.result-container {
  display: inline-flex;
  width: 70vw;
}

.score-container {
  display: inline-flex;
  width: 30vw;
}

.score-container .black {
  height: 10px;
  width: 10px;

  border-radius: 50%;
  background-color: black;
}

.score-container .white {
  height: 10px;
  width: 10px;

  border-radius: 50%;
  background-color: pink;
}
